<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}My Site{% endblock %}</title>
    <!-- put CSS, meta tags, etc here -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}"> -->
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <!-- <link href="./output.css" rel="stylesheet"> -->
  </head>
  <body>
    <header>
      <!-- Your header HTML here -->
      <h1 class="mt-10">My Header test</h1>
      <div class="bg-red-500"></div>
    </header>

    <aside>
      <!-- Sidebar HTML here -->
      <nav>Sidebar links</nav>
    </aside>

    <main>
      {% block content %}
      <!-- Page-specific content will go here -->
      {% endblock %}
    </main>

    <footer>
      <!-- Footer here -->
      <p>© 2025 My Site</p>
    </footer>
  </body>
</html>
